<h1>Initiative</h1>
<div *ngIf="!initiativeOrder">Loading initiative order...</div>
<div *ngIf="initiativeOrder" style="margin-bottom: 2em;">
  <div *ngIf="!initiativeOrder.players.length">No initiative</div>
  <div style="margin-bottom: 1em" *ngIf="initiativeOrder.players.length">
    <h3>Round {{ initiativeOrder.roundNumber || 1 }} &mdash; <time-since [startTime]="initiativeOrder.startTime"></time-since></h3>
    <table class="currentTable">
      <thead>
      <tr>
        <th>Name</th>
        <th>AC</th>
        <th>Total</th>
        <th>Active</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="#player of initiativeOrder.players" [class.active]="initiativeOrder.currentId === player.id">
        <td>{{ player.name }}{{ player.isNpc ? ' (NPC)' : '' }}</td>
        <td>{{ player.ac || '' }}{{ player.canModifyAc ? '*' : '' }}</td>
        <td>{{ player.initiative }}</td>
        <td>{{ player.isActive ? 'Yes' : 'No' }} <a class="toggle-active" href="javascript:void(0)" (click)="toggleActive(player.id)">Toggle</a></td>
      </tr>
      </tbody>
    </table>
    <button
      class="button"
      (click)="next()"
    >Next</button>
    <button
      class="button button--flat"
      (click)="previous()"
    >Undo</button>
  </div>
  <div>
    <timer [control]="timerControl" [seconds]="roundTime"></timer><br />
    <button class="button" (click)="startTimer()">Start</button>
    <button class="button" (click)="stopTimer()">Stop</button>
    <button class="button" (click)="resetTimer()">Reset</button>
  </div>
</div>
<div style="margin-bottom: 2em;">
  <button class="button button--flat" type="button" (click)="clear()">Clear Initiative</button>
</div>
<!--<div *ngIf="!initiativeOrder || !initiativeOrder.isRunning">-->

<div>
  <new-initiative (created)="newInitiative($event)"></new-initiative>
</div>
