<h1>New Initiative</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>AC</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#player of initiative.players">
      <td>{{ player.name }}{{ player.isNpc ? ' (NPC)' : '' }}</td>
      <td>{{ player.initiative }}</td>
      <td>{{ player.ac || '' }}{{ player.canModifyAc ? '*' : '' }}</td>
      <td>{{ player.isActive ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
<form (submit)="addPlayer()">
  <div class="form__row">
    <div class="form__row-entry">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" [(ngModel)]="newPlayer.name" required />
        <label class="mdl-textfield__label" for="name">Player Name</label>
        <span class="mdl-textfield__error">Required.</span>
      </div>
    </div>
    <div class="form__row-entry">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isNpc">
        <input type="checkbox" id="isNpc" class="mdl-checkbox__input" [(ngModel)]="newPlayer.isNpc" />
        <span class="mdl-checkbox__label">NPC</span>
      </label>
    </div>
  </div>
  <div class="form__row">
    <div class="form__row-entry">
      <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          type="text"
          pattern="-?[0-9]*(\.[0-9]+)?"
          id="initiative"
          [(ngModel)]="newPlayer.initiative"
          required />
        <label class="mdl-textfield__label" for="initiative">Initiative</label>
        <span class="mdl-textfield__error">Must be a number.</span>
      </div>
    </div>
    <div class="form__row-entry">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isActive">
        <input type="checkbox" id="isActive" class="mdl-checkbox__input" [(ngModel)]="newPlayer.isActive" [checked]="newPlayer.isActive">
        <span class="mdl-checkbox__label">Active</span>
      </label>
    </div>
  </div>
  <div class="form__row">
    <div class="form__row-entry">
      <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          type="text"
          pattern="-?[0-9]*(\.[0-9]+)?"
          id="ac"
          [(ngModel)]="newPlayer.ac"
          [required]="!newPlayer.isNpc" />
        <label class="mdl-textfield__label" for="ac">Armour Class</label>
        <span class="mdl-textfield__error">Must be a number.</span>
      </div>
    </div>
    <div class="form__row-entry">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="canModifyAc">
        <input type="checkbox" id="canModifyAc" class="mdl-checkbox__input" [(ngModel)]="newPlayer.canModifyAc">
        <span class="mdl-checkbox__label">Variable</span>
      </label>
    </div>
  </div>
  <button
    class="mdl-button mdl-button--colored"
    type="submit"
  >Add</button>
</form>
<br />
<button
  class="mdl-button"
  type="button"
  (click)="submitInitiative()"
>Done</button>
