<div *ngIf="currentPlayer" class="wrapper">
  <div class="currentPlayer">
    <p class="currentPlayer__name">{{ currentPlayer.name }}</p>
    <timer class="large countdown" [control]="timerControl" [seconds]="10"></timer>
  </div>
  <div class="footer">
    <div class="footer__block footer__block--minor" *ngIf="currentRound">
      <p class="footer__label">Round</p>
      <p class="footer__value">{{ currentRound }}</p>
    </div>
    <div class="footer__block">
      <p class="footer__label">Up Next</p>
      <p class="footer__value">{{ nextPlayer.name }}</p>
    </div>
    <div class="footer__block footer__block--minor" *ngIf="startTime">
      <p class="footer__label">Combat Time</p>
      <p class="footer__value"><timer [shortTime]="true" [inputTime]="combatTime"></timer></p>
    </div>
  </div>
</div>
