<div *ngIf="currentPlayer" class="display-initiative">
  <div class="display-current-player">
    <p class="display-current-player__name">{{ currentPlayer.name }}</p>
    <timer class="display-current-player__timer large" large [control]="timerControl" [seconds]="roundTime"></timer>
  </div>
  <div class="footer">
    <div class="footer__block footer__block--minor" *ngIf="currentRound">
      <p class="footer__label">Round</p>
      <p class="footer__value">{{ currentRound }}</p>
    </div>
    <div class="footer__block">
      <p class="footer__label">Up Next</p>
      <p class="footer__value">{{ nextPlayer.name }}</p>
    </div>
    <div class="footer__block footer__block--minor" *ngIf="startTime">
      <p class="footer__label">Combat Time</p>
      <p class="footer__value"><time-since [startTime]="startTime"></time-since></p>
    </div>
  </div>
</div>
